<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filter</key>
		<string>feixiazhuang</string>
		<key>name</key>
		<string>飞霞妆</string>
		<key>content</key>
		<string>北宋词人常用酒红、霞光、芙蓉、荷花形容胭脂，如晏几道的“娇面胜芙蓉，脸边天与红”，“宋女也施朱粉，但大多是施以浅朱，只透微红。“从前风行的一些妆容仍未过时，例如：曾流行于唐代的先施浅朱，然后以白粉盖之，呈浅红色的飞霞妆。</string>
		<key>recommendationRate</key>
		<integer>5</integer>
		<key>figureImage</key>
		<string>fly</string>
		<key>characteristics</key>
		<array>
			<string>先薄施胭脂</string>
			<string>后以白粉盖之</string>
			<string>总体呈浅红色</string>
		</array>
	</dict>
	<dict>
		<key>filter</key>
		<string>tanyunzhuang</string>
		<key>name</key>
		<string>檀晕妆</string>
		<key>content</key>
		<string>先以铅粉打底，再敷以檀粉（即把铅粉与胭脂调和在一起），面颊中部微红，逐渐向四周晕染开，也是一种非常素雅的妆饰。多首古诗词里都提到檀粉，如宋代贺铸《诉衷情》词:“檀粉半销睡痕新，背镜照櫻唇。”写到一位佳人睡上一觉，脸上的檀粉都被磨损了，留下了睡痕。在这里，檀就是粉红色的意思。</string>
		<key>recommendationRate</key>
		<integer>5</integer>
		<key>figureImage</key>
		<string>tanyun</string>
		<key>characteristics</key>
		<array>
			<string>浅画素妆</string>
			<string>薄施朱色，面透微红</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠妆</string>
		<key>content</key>
		<string>宋代妇女喜爱清新、淡雅的风格，但对面饰依旧钟情，只是在形式和色彩上比较克制，低调奢华。珍珠妆是一种于宋朝时被创造出来用于正式场合的妆容，贵妇们以鱼鳔制成的胶作为粘合剂，将珍珠作为锚饰，额头、酒窝各置一颗，太阳穴至下面各挂一串。</string>
		<key>recommendationRate</key>
		<integer>5</integer>
		<key>figureImage</key>
		<string>zhenzhu</string>
		<key>characteristics</key>
		<array>
			<string>淡雅、清秀</string>
			<string>两鬓、眉间或面颊处贴上珍珠</string>
			<string>薄施朱色，面透微红</string>
		</array>
	</dict>
	<dict>
		<key>filter</key>
		<string>sanbaizhuang</string>
		<key>name</key>
		<string>三白妆</string>
		<key>content</key>
		<string>南宋女性偏好淡雅的面妆，妆容越发白净素雅。诗词里的描述也以恬淡浅匀为多，如“出茧修眉淡薄妆”（陆游《无题》）、“晚凉倦浴，素妆薄试铅华靓”（陈允平《侧犯》）等。从传世的南宋绘画看，仕女脸上很难找到胭脂的痕迹，妆面白净，在额头、鼻梁、下巴等处还会特别提亮。唇色浅淡，似乎只淡淡涂抹一些无色口脂，眉形也多纤细。
</string>
		<key>recommendationRate</key>
		<integer>5</integer>
		<key>figureImage</key>
		<string>sanbai</string>
		<key>characteristics</key>
		<array>
			<string>额头，下巴，鼻梁,这三处着重涂白</string>
			<string>唇色浅淡</string>
			<string>眉形纤细</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>泪妆</string>
		<key>content</key>
		<string>以白妆为基础，妆粉施涂较薄，但在眼角点抹白粉，状如泪水充盈欲滴，有种哀愁之美。“宋代女性在祭扫时常做此妆，周密便记载了南宋临安郊外祭扫的场景：“妇人泪妆素衣，提携儿女，酒壶肴罍。”（《武林旧事》）从“泪妆更看薄臙脂”“西楼月下当时见，泪粉偷匀”（晏几道《采桑子》）看，泪妆也是平时的淡雅妆容。</string>
		<key>recommendationRate</key>
		<integer>5</integer>
		<key>figureImage</key>
		<string>lei</string>
		<key>characteristics</key>
		<array>
			<string>额头，下巴，鼻梁,这三处着重涂白</string>
			<string>眼角涂抹白粉</string>
		</array>
	</dict>
</array>
</plist>
