<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>少女</key>
	<array>
		<string>梅花妆</string>
		<string>飞霞妆</string>
		<string>檀晕妆</string>
		<string>慵来妆</string>
	</array>
	<key>柔和</key>
	<array>
		<string>明代面靥妆</string>
		<string>檀晕妆</string>
		<string>慵来妆</string>
		<string>珍珠妆</string>
		<string>三白妆</string>
		<string>碎妆</string>
	</array>
	<key>华美</key>
	<array>
		<string>桃花妆</string>
		<string>酒晕妆</string>
		<string>飞霞妆</string>
		<string>梅花状</string>
	</array>
	<key>自然</key>
	<array>
		<string>明代面靥妆</string>
		<string>珍珠妆</string>
		<string>三白妆</string>
		<string>碎妆</string>
		<string>远山眉妆</string>
		<string>广眉妆</string>
	</array>
	<key>均衡</key>
	<array>
		<string>明代面靥妆</string>
		<string>珍珠妆</string>
		<string>三白妆</string>
		<string>飞霞妆</string>
		<string>碎妆</string>
		<string>梅花妆</string>
	</array>
	<key>大气</key>
	<array>
		<string>仙蛾妆</string>
		<string>胡妆</string>
		<string>吊梢眉妆</string>
		<string>桃花妆</string>
		<string>酒晕妆</string>
	</array>
	<key>少年</key>
	<array>
		<string>远山眉妆</string>
		<string>广眉妆</string>
		<string>仙蛾妆</string>
		<string>胡妆</string>
		<string>吊梢眉妆</string>
	</array>
	<key>摩登</key>
	<array>
		<string>胡妆</string>
		<string>吊梢眉妆</string>
		<string>仙蛾妆</string>
		<string>广眉妆</string>
	</array>
	<key>戏剧</key>
	<array>
		<string>胡妆</string>
		<string>吊梢眉妆</string>
		<string>仙蛾妆</string>
		<string>广眉妆</string>
	</array>
</dict>
</plist>
